:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: #f0f8ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1e90ff;
  text-decoration: none;
}
a:hover {
  color: #104e8b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f8ff; 
  color: #333333; 
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid #444444;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1e90ff;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #104e8b;
  background-color: #104e8b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #104e8b;
  }
  button {
    background-color: #1e90ff;
    color: #ffffff;
    border: 2px solid #cccccc;
  }
  button:hover {
    border-color: #104e8b;
    background-color: #104e8b;
  }
  body {
    background-color: #ffffff;
    color: #213547;
  }
}
